@font-face {
    font-family: 'RubikMonoOne';
    src: url("../fonts/RubikMonoOne-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: 'RussoOne';
    src: url("../fonts/RussoOne-Regular.ttf") format("truetype");
  }
  a{
    text-decoration: none;
}
a:hover{
    color: #a2a2a2;
}

.container{
    display: grid;
    justify-content:center;
}
.logo{
    margin-left: 15px;
    width: 190px;
}

.close {
    background: none;
    border: none; 
  }

header{
    font-family: 'RussoOne';
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
   
}
.menu-link{
    text-decoration: none;
    color: #000;
    margin-left: 100px;
    padding: 30px;
}

  body{
    
    background-color: black;
}  
.grid-container {
    
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-column-gap: 90px;
}

.grid-item {
    width: 290px;
    height: 380px;
    background: #000000;

}

.grid-item {
    display: block;
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.caption {
    font-family: 'RussoOne';
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    transition: opacity 0.3s ease;
}

.grid-item:hover .caption {
    opacity: 1;
}

.pip {
    color: #fff;
    font-family: 'RussoOne';
    font-size: 22px;
    padding: 10px;
    margin-left: 85px;

}

.pop {
    color: #fff;
    font-family: 'RussoOne';
    font-size: 22px;
    padding: 10px;
    margin-left: 85px;

}

.pap {
    color: #fff;
    font-family: 'RussoOne';
    font-size: 22px;
    padding: 10px;
    margin-left: 85px;

}


h4 {
    font-size: 40px;
    font-family: 'RubikMonoOne';
    margin-top: 150px;
    padding: 30px;
    text-align: center;
    color: #ffffff;   
}

.line{
    margin-left: 10px;
    max-width: 350px;
    margin-top: -150px;
}
.line2{
    margin-left: 420px;
    max-width: 350px;
    margin-top: -150px;
}

.line11{
    margin-left: 10px;
    max-width: 250px;
    margin-top: -150px;
}
.line22{
    margin-left: 600px;
    max-width: 230px;
    margin-top: -150px;
}

.line33{
    margin-left: 10px;
    max-width: 360px;
    margin-top: -150px;
}
.line44{
    margin-left: 400px;
    max-width: 360px;
    margin-top: -150px;
}


footer {
    display: grid;
    max-width: 1600px;
    margin: 0 auto; 
    background-color: #ffffff;
    padding-top: 40px;
    margin-top: 150px;
    color: #000;
    grid-template-columns: 70% 30%;

}

.giro{
    font-size: 14px;
    padding-left: 550px;
    color: #000;
}

.social{
    display: block;
    margin-bottom: 10px;
    color:#000;
}

.telegram{
  
    margin-left: 45px;
    font-family: 'RubikMonoOne';
    color:#000;
}

.youtube{
    margin-left: 45px;
    font-family: 'RubikMonoOne';
    color:#000;
}

.address{
    
    font-family: 'RubikMonoOne';
    color:#000;
}

.emails{
    margin-left: 45px;
    font-family: 'RubikMonoOne';
    color:#000;
}


.phones{
    margin-left: 45px;
    font-family: 'RubikMonoOne';
    color:#000; 
}



.topbutton {
    font-family: 'RubikMonoOne';
    width: 120px;
    border: none;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 31px;
    color:black;
}
.topbutton:hover{
    color: #a2a2a2;
}



[value="all"]:checked~.plumbing .grid-item {
    display: block;
}

[value="гироскутеры"]:checked~.plumbing [data-category*="гироскутеры"] {
    display: block;
}

[value="сигвеи"]:checked~.plumbing [data-category*="сигвеи"] {
    display: block;
}


[value="электросамокаты"]:checked~.plumbing [data-category*="электросамокаты"] {
    display: block;
}

.s {
border: none;
outline: none;
border-radius: 5px;
height: 40px;
width: 500px;

}

.search-container{
font-family: 'RussoOne';
margin-left: 150px;
color:#fff;
}
.girose{
    font-family: 'RussoOne';
    margin-left: 475px;   
}

select{
color: #ffffff;
background-color: #3c3c3c;
margin-left: 15px;    
width: 250px;
height: 40px;
outline: none;
border: none;

border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .grid-container {
        margin-left: 140px;
        flex-direction: column;
        align-items: center;
        grid-column-gap: 0;
    }

    .grid-item {
        margin-bottom: 20px;
    }

    
    .line,.line2,.line11,.line22,.line33,.line44{
        display: none;
    }

    h4{
        font-size: 30px;
        margin-left: 120px;
    }

    .s {

        margin-left: 120px;
        max-width: 60%;
        
        }

        select{
            margin-top: 35px;
            margin-left: 170px;

        
        }
    
    #radio{
        display: none;
    }
header{
    height: auto;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
}
    .menu-link{
        font-size: 11px;
        text-decoration: none;
        color: #000;
        margin-left: 0px;
        height: auto;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    }
    footer {
        font-size: 11px;
        grid-template-columns: 1fr; /* Изменяем на одну колонку */
    }

    .telegram, .youtube, .emails, .phones, .address, .girose {
        margin-left: 300px; /* Убираем отступ для мобильных устройств */
        margin-top: 10px; /* Добавляем отступ сверху для мобильных устройств */
    }

    .topbutton {
        bottom: 10px; /* Уменьшаем отступ снизу для мобильных устройств */
        right: 100px; /* Уменьшаем отступ справа для мобильных устройств */
        width: 100px; /* Уменьшаем ширину для мобильных устройств */
    }


}
